<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav flex justify-content-between w-100">
        <% if (user) { %> 
          <div class="d-sm-flex">
            <li class="nav-item">
              <a class="nav-link" href="/urls">My URLs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/urls/new">Create New URL</a>
            </li>
          </div>
          <div class="d-inline-flex align-items-center">
            <p class="my-0 mr-3 text-light" style="opacity:0.7">Logged in: <%= user.email %></p>
            <form class="form-inline" action="/logout" method="POST">
              <button type="submit" class="btn btn-sm btn-outline-info">Logout</button>
            </form>
          </div>
        <% } else { %> 
          <div class="d-sm-flex flex-sm-row-reverse w-100 align-items-center">
            <li class="nav-item">
              <a class="btn btn-sm btn-danger" href="/register">Register</a> 
            </li>
            <li class="nav-item">
              <a class="link my-0 mx-3 text-light" style="text-decoration: none;" href="/login">Login</a> 
            </li>
          </div>
        <% } %> 
      </div>
    </div>
  </nav>
</header>
